nav>div>img{
    width: 100px;
    aspect-ratio: 1/1;
}
nav>div>div>ul{
    left: 30px;
    color: #ff253a;
}
/*  @media (max-width: 475px) {

  }
  @media (max-width: 640px) {

  }
  @media (max-width: 768px) {


  }
  @media (max-width: 1024px) {}
  @media (max-width: 1280px) {}
  @media (max-width: 1536px) {

  }*/


header>nav{

    width: 100vw;
    height: 11vh;

}
