nav>div>img{
    width: 100px;
    aspect-ratio: 1/1;
}
nav>div>div>ul{
    left: 30px;
    color: #ff253a;
}



header>nav{

    width: 100vw;
    height: 11vh;

}
#invoice_details{
    width: 40vw;
    height: 35vh;

    position: absolute;
    left: 1vw;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#item_details{
    width: 40vw;
    height: 20vh;

    position: absolute;
    left: 45vw;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#purchase{
    background-color: chartreuse;
}
#total_form{
    width: 40vw;
    height: 40vh;
    position: absolute;
    left: 1vw;
    top: 60vh;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}
#final{
    width: 40vw;
    height: 40vh;
    position: absolute;
    left: 45vw;
    top: 60vh;
}